
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: black;
  }

  .centered-image {
    text-align: center;
  }

  .centered-image img {
    max-width: 50%;
    max-height: 50%;
  }
